[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-ninja = "*"
psycopg = {extras = ["binary"], version = "*"}
dj-database-url = "*"
waitress = "*"
whitenoise = "*"
requests = "*"
django-rq-scheduler = "*"
fakeredis = "*"
honeybadger = "*"
factory-boy = "*"
pytest = "*"
pytest-django = "*"

[dev-packages]

[requires]
python_version = "3.10"

[scripts]
test = "pytest"
worker = "python -u manage.py rqworker default"
runserver = "python manage.py runserver"
makemigrations = "python manage.py makemigrations"
migrate = "python manage.py migrate"
